@charset "UTF-8";

@media screen and (min-width: 768px)  and (max-width: 992px)  and (max-width: 1800px){

    main > section#primeira-parte{
        max-width: 992px;
    }

    section#fundo{
        max-width: 992px;
    }

    section#terceira-parte{
        max-width: 990px;
    }

    section#terceira-parte > div > h2{
        font-size: 29px;
    }

    section#terceira-parte > div > p{
        font-size: 25px;
    }

    footer{
        max-width: 992px;
    }
}

@media screen and (min-width: 992px)  {
    main > section#primeira-parte{
        max-width: 1800px;
    }

    section#terceira-parte{
        max-width: 1800px;
    }

    section#fundo{
        max-width: 1800px;
    }

    section#terceira-parte > div > h2{
        font-size: 33px;
    }

    section#terceira-parte > div > p{
        font-size: 28px;
    }

    footer{
        background-color: #090639;
        height: 600px;
        max-width: 1800px;
    }
}